table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 5px;
}

th, td {
    padding: 10px;
}

section {
    margin: 10px;
}

.tabbar-icon {
    margin-right: 10px;
    width: 46px;
}
.icon-row {
    display: flex;
    flex-direction: row;
    height: 48px;
    padding: 10px 0;
}

.screenshot {
    padding: 10px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}